{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th width="200" align="left">Source</th>
        <th width="800" align="left">Info</th>
      </tr>
    </thead>
    <tbody>
      {% for piece in newspieces %}
        <tr>
          <td width="200" align="left">
            <small>
              {{ piece.rss_source }}
            </small>
          </td>
          <td width="800" align="left">
            <small class="text-muted">
              {{ piece.publish_date }}
            </small>
            <small class="text-muted">
             by {{ piece.author }}
            </small>
            <p>
              <a href="{{ piece.url }}">
                {{ piece.title }}
              </a>
              <div >
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-description-{{ forloop.counter0 }}" aria-expanded="false">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
              </div>
              <div class="collapse" id="collapse-description-{{ forloop.counter0 }}">
                <div class="card card-body">
                  {# mega unsafe, XSS possibility #}
                  {% autoescape off %} {{ piece.description }} {% endautoescape %}
                </div>
              </div>
            </p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% include 'includes/pagination.html' %}
{% endblock %}